body{
    text-align: center;
    background-color: rgb(72, 173, 207);
}

.quadrado{
    text-align: center;
    width: 50px;
    background: #eee;
    display: inline-block;
    padding: 40px;
    font-size: 60px;
    margin: 5px;
    cursor: pointer;
    color: #eee;
}

.jogador, .vencedor{
    font-size: 20px;
    margin-top: 10px;
}

button{
    margin-top: 5px;
    width: 4.2rem;
    height: 1.5rem;
    background: #eee;
    border-radius: 8px;
    cursor: pointer;
}